# Entornos virtuales
.venv/
venv/
env/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Archivos de configuración de VS Code
.vscode/

# Datos personales o archivos sensibles
*.env

# Archivos de Streamlit temporales
.streamlit/